<div class="new-game-page">
  <h3>NEW GAME</h3>
  <select>
    <option value="">参加人数を選択してください</option>
    <option value=3>３人</option>
    <option value=4>4人</option>
    <option value=5>５人</option>
    <option value=6>６人</option>
    <option value=7>７人</option>
    <option value=8>８人</option>
  </select>


</div>